
@font-face {
    font-family: tbbold;
    src: url("../assets/fonts/Helvetica\ Neue\ 97\ Black\ Condensed\ Oblique.otf");
}

.tbbutton {
    background-color:darkorange;
    color: white;
    font-weight: bolder;
    border-radius: 15px;
    border-color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: tbbold;
    display: inline-block;
    &:hover {
        background-color: orange;
        transition: all 0.15s ease-in-out;
        color: rgb(241, 235, 235)
    }
}

.imgNextToButton {
    position: relative;
    width: 25px;
    height: 30px;
    top: -1px;
    right: 47px;
}