
.tbbutton {
    background-color:darkorange;
    color: white;
    font-weight: bolder;
    border-radius: 15px;
    border-color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    src:url("../../assets/fonts/Helvetica\ Neue\ 97\ Black\ Condensed\ Oblique.otf");
    &:hover {
        background-color: orange;
        transition: all 0.15s ease-in-out;
    }
}