
.rankCircle {
    width: 7.6vw;
    height: 13vh;
    border-radius: 50%;
    background-color: rgb(22, 71, 22);
    position: absolute;
    left: -33px;
    top: -10px;
}

@font-face {
    font-family: rank;
    src: url("../assets/fonts/DIGITALDREAM.ttf");
}

.rankText {
    color: yellow;
    font-size: 47px;
    position: relative;
    top: 40px;
    right: -33px;
    font-family: rank;
    .rankTextSmall {
        font-size: 44px;
    }
}

.menuBar {
    background-color: rgb(15, 15, 15);
    position: absolute;
    width:100%;
    height: 2.5%;
}

.stoneDisplay {
    background-color: rgb(37, 35, 35);
    border-radius: 15px;
    width: 70px;
    margin-left: 90%;
    margin-right: 0;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    img {
        width: 20px;
        height: 20px;
    }
}

