# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/www/node_modules
/www/.pnp
/www/.pnp.js
**/*.rs.bk
/tb_parser/Cargo.lock
/tb_parser/bin/
/tb_parser/pkg/
/tb_parser/wasm-pack.log
/tb_parser/tests

# testing
/coverage
/tb_scraper/tb_scraper
/tb_scraper/*.txt
/tb_scraper/*.json
/tb_parser/target

# production
/build
/.vscode
/tb_parser/target

# misc
/www/.DS_Store
/www/.env.local
/www/.env.development.local
/www/.env.test.local
/www/.env.production.local

/www/npm-debug.log*
/www/yarn-debug.log*
/www/yarn-error.log*


# Added by cargo

/target
