# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tb_web/node_modules
/tb_web/.pnp
/tb_web/.pnp.js
**/*.rs.bk
/tb_parser/Cargo.lock
/tb_parser/bin/
/tb_parser/pkg/
/tb_parser/wasm-pack.log
/tb_parser/tests

# testing
/coverage
/tb_scraper/tb_scraper
/tb_scraper/*.txt
/tb_parser/target

# production
/build
/.vscode
/tb_parser/target

# misc
/tb_web/.DS_Store
/tb_web/.env.local
/tb_web/.env.development.local
/tb_web/.env.test.local
/tb_web/.env.production.local

/tb_web/npm-debug.log*
/tb_web/yarn-debug.log*
/tb_web/yarn-error.log*


# Added by cargo

/tb_parser/target
/tb_parser/**/*.rs.bk
/tb_parser/Cargo.lock
/tb_parser/bin/
/tb_parser/pkg/
/tb_parser/wasm-pack.log
